.input-form{
    display:flex;
    flex-direction: column;
    width:200px;
    padding:20px;
    margin:auto;
    justify-content: center;
    align-items: center;
}
input {
    width:100%;
  }

  .submit{
    margin-top: 8px;
  }